<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--constructor based dependency injection-->
    <bean class="com.itshaala.Employee" name="employee" scope="singleton">
        <constructor-arg name="id" value="101"/>
        <constructor-arg name="name" value="kundan"/>
        <constructor-arg name="age" value="21"/>
        <constructor-arg name="salary" value="21000"/>
        <constructor-arg name="address" value="Pune"/>
    </bean>

    <!--setter based dependency injection-->
   <!-- <bean class="com.itshaala.Employee" name="employee" scope="singleton">
        <property name="id" value="101"/>
        <property name="name" value="kundan"/>
        <property name="age" value="21"/>
        <property name="salary" value="21000"/>
        <property name="address" value="Pune"/>
    </bean>-->


</beans>