<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.itshaala.Employee" name="employeeRef" scope="singleton">
        <property name="id" value="101"/>
        <property name="name" value="Ashish"/>
        <property name="age" value="21"/>
        <property name="salary" value="300000"/>
    </bean>

</beans>